* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}


body{
    margin: 0 auto;
    background: #fff; 
    color: #52555c; 
    font-family: "ProximaNovaRegular", Helvetica, sans-serif;
    font-size:14px; 
    line-height:1.7;
    position:relative;
}
a{
    text-decoration: underline;
}
img{
    display:block;
    border:none;
    width:100%;
    height:auto;
    -ms-interpolation-mode: bicubic; 
    vertical-align:middle;
}
h2, h3, p{
     margin:0;
     text-align: left;
}
h2{
    font-weight: bold;
    font-size:30px;
    color:#4182bd;
}
h3{
    font-weight: bold;
    font-size:18px;
    line-height: 1.3;
    margin-bottom: 20px;
}
input{
    display: none;
}
.button{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 238px;
    height: 53px;
    text-align: center;
    padding-top:16px;
    cursor: pointer;
    color:#ffffff;
}
.flex_blocks{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow:row wrap;
    -o-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:justify; 
        -webkit-justify-content:space-between;
    -ms-flex-pack:justify; 
        justify-content:space-between;
    list-style: none;
    margin: 0 auto;
    width: 100%;
    padding:0;     
}
.main{
    position: relative;
}
.overflow{
    height: 100vh;
    overflow: hidden;
}
.inner{
    height: 400vh;
}
.active {
    position: fixed;
    right:7%;
    top:50%;
    margin-top:-40px;
}

.active label {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    width: 5px;
    height: 5px;
    background: #414449;
    margin:0 auto;
    margin-bottom:14px;
    cursor: pointer;
    text-decoration: none;
} 

#slide4:checked ~.active label{
    background: #ffffff;
}

.active label:hover{
    width: 9px;
    height: 9px;
}

#slide1:checked ~.active label:nth-of-type(1),
#slide2:checked ~.active label:nth-of-type(2), 
#slide3:checked ~.active label:nth-of-type(3), 
#slide4:checked ~.active label:nth-of-type(4){
    width: 10px;
    height: 10px;
    background: rgba(65,68,73,0);
    border:1px solid #414449;
}
#slide4:checked ~.active label:nth-of-type(4) {
    border:1px solid #ffffff;
}
#slide1:checked ~ .overflow .inner { margin-top:0;}
#slide2:checked ~ .overflow .inner { margin-top:-100vh; }
#slide3:checked ~ .overflow .inner { margin-top:-200vh; }
#slide4:checked ~ .overflow .inner { margin-top:-300vh; }

#slide1:checked ~ .overflow .inner,
#slide2:checked ~ .overflow .inner,
#slide3:checked ~ .overflow .inner,
#slide4:checked ~ .overflow .inner{
    -webkit-transition: all 600ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}

.slide1,.slide2,.slide3,.slide4 {
    width: 100%;
    min-height: 700px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slide1,.slide2,.slide3,.slide4,
.header,
.content {
    margin: 0 auto;
}
.slide1>img{
    position: absolute;
    z-index: -1;
}
            /*=== header ===*/
.header,
.footer{
    width: 100%;
    margin:0 auto;
}
.header{
    height: 78px;
    line-height: 78px; 
    background-color: #ffffff;
}
.nav{
    height:78px ;
    padding-top:3px; 
}
.header_info,
.content,
.footer_info {
    width: 960px;
    padding:0 10px;
    margin:0 auto;
    }
.content{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-300px;
    margin-left: -480px;
    height: 700px;
}

.logo,
.header ul{
    float: left;
    
}
.header .logo img{
    display: inline-block;
}

.header ul{
    list-style-type: none;
    padding-left: 77px;
    margin: 0;
    
}
.header li{
    display: inline-block;
    padding-right: 16px;
}
.header li:first-of-type{
    padding-left: 2px;
}
.header li a{
    color:#999999; /*grey*/
}
.header li a:hover{
    color:#000000;
}
.header_link a{
    color:#ce1350; /*pink*/
}
.header_link a:hover{
     color:#701640;
}

.header_link a,
.header_link_arrow{
    float: right;
}
.header_link_arrow{
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
}

            /*=== slide1 ===*/
.slide1 .content p{
    margin: 212px 0 24px -19px;
    line-height: 1.25em;
    font-size: 48px;
    color:#ebebeb;
}
.slide1 .content span{
    background-color: rgba(91,40,110, 0.4); /*purple #5b286e*/
    display: inline-block;
    padding: 0 18px;
}

.slide1 .button{
    margin-left: -21px;
    -webkit-border-radius:5px;
            border-radius: 5px;
}
.slide1 .button,
.slide4_block:nth-of-type(1),
.slide4_block:nth-of-type(4){
    background-color: #3a7dbb; /*blue*/
}


.slide1 .button:hover{
    background-color: #5492cb; /*lighter blue*/
}

            /*=== slide2 ===*/
.slide2{
    background-color: #f8f8f8; /*dirty white*/
}
.slide2 .content{
    padding-top: 27px;
}
.device{
    width: 359px;
    height: 535px;
    float: left;
    background:#fff;
    background: -webkit-gradient(linear, left top, right top, from(#fefefe), to(#f8f8f8));
    background: -webkit-linear-gradient(left, #fefefe, #f8f8f8);
    background: linear-gradient(to right, #fefefe, #f8f8f8);
    border: 3px solid #ececec;
    -webkit-border-radius: 25px;
        border-radius: 25px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
        box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
}
.device::before,
.device::after{
    content:"";
    display: block;
    -webkit-border-radius: 50%;
        border-radius: 50%;
    background:#dedede;
    position: absolute;
}
.device::before{
    width: 4px;
    height: 4px;
    left:177px;
    top:55px;
}
.device::after{
    width: 7px;
    height: 7px;
    left:187px;
    top:53px;
}
.slide2 img{
    margin:0 auto;
    margin-top: 52px;
    width: 319px ;
    border:2px solid #404040;
}
.device_button{
    margin:0 auto;
    margin-top:17px;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 50%;
        border-radius: 50%;
    background-color: #e8e8e8;  
    padding-top:8px;  
}
.device_button::after{
    content:"";
    display: block;
    width: 7px;
    height: 7px;
    margin:0 auto;
    background: rgba(0,0,0,0);
    border:2px solid #f6f6f6;
    -webkit-border-radius: 3px;
        border-radius: 3px;
}
.slide3 img{
   float: left;
   width: 359px;
}
.slide2 h2{
    margin:9px 0 10px -3px;
}
.slide2_info,
.slide3_info{
    float: right;
}
.slide2_info{
    width: 525px;
}

.slide2_info p{
    margin-left:-2px;
}
.slide2_info p:nth-of-type(1){
    margin-top:-1px;    
}
.slide2_info p:nth-of-type(2){
    font-size:18px;
    font-weight: bold;
    margin:20px 0 19px -3px;

}
.slide2 .button{
    margin-left:-3px;
    margin-top:-6px;
    width: 224px;
    height: 49px;
}
.slide2 .button,
.slide3 .button3_1,
.slide3 .button3_2,
.slide4 .button{
   -webkit-border-radius:3px;
            border-radius: 3px; 
}

.slide2 .button,
.slide3 .button3_2{
    background-color: #f8f8f8; 
    border:2px solid #3d4258;
    color:#3d4258;
    padding-top: 11px;
}
.slide2 .button:hover,
.slide3 .button3_2:hover{
    background-color: #3d4258; 
    color:#ffffff;
}
.slide2 .flex_blocks{
    padding-top:3px;
}
.slide2_block:nth-of-type(1),
.slide2_block:nth-of-type(3){
    max-width: 125px;
    width: 125px;
}
.slide2_block:nth-of-type(1){
    color:#3a7dbb;
}
.slide2_block:nth-of-type(3){
    color:#ce1350;
}
.slide2_block:nth-of-type(2){
    margin: 0 45px;
    width:185px; 
    max-width:185px;
    color:#5b286e;
}
.slide2_block span{
    display: inline-block;
  
}
.slide2_block span:nth-of-type(1){
    font-size:72px;
    font-weight: bold;
      line-height: 1.6em;
     
}
.slide2_block span:nth-of-type(2){
    font-size:12px;
  margin-top: -25px;
  line-height: 1.4em;
}
                /*=== slide3 ===*/
.slide3{
    background-color: #ffffff; 
}
.slide3 h2{
    margin:-20px 0 0 0;
}
.slide3 p:first-of-type{
    margin: 9px 0;
}
.slide3 .button3_1,
.slide4 .button{
    background-color: #d43065; /*berry-pink*/
}
.slide3 .button3_1:hover,
.slide4 .button:hover,
.slide4_block:nth-of-type(3),
.slide4_block:nth-of-type(6){
    background-color: #ce1350; 
}

.count_block{
    margin:45px 0 0 0;
}  
.count_block label,
.count_block input,
.count_block #counter{
    display: inline-block;
    float: left;
}
.count_block label{
    font-weight: bold;
    font-size:16px;
    padding-right: 25px;
    margin-top:-1px;
}
.count_block input{
    color:#00c5c5;
    font-family: "ProximaNovaRegular", Helvetica, sans-serif;
    width: 150px;
    height: 47px;
    padding-left: 13px;
    margin:-11px 25px 0 0; 
}
#counter {
        width: 270px;
        height: 5px;
        position: relative;
        background: #cbcbcb;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 10px 32px 0 0;
    }
    .ui-slider .ui-slider-handle {
        position: absolute;
        margin-top:-10px;
        z-index: 2;
        width: 27px;  
        height: 27px;  
        border: 1px solid #e3e4e8;
        -webkit-border-radius:  50%;
        border-radius: 50%;
        background: #fff; 
        cursor: pointer;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
        box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
    }
    .ui-slider .ui-slider-handle::before,
    .ui-slider .ui-slider-handle::after{
        content:"";
        display: block;
        height: 6px;
        width: 1px;
        background-color: #d8d8d8;
        position: absolute;
        top:9px;
    }
    .ui-slider .ui-slider-handle::before{
        left: 10px;
    }
    .ui-slider .ui-slider-handle::after{
        left: 13px;
    }
    .ui-slider .ui-slider-handle:first-of-type{
        display:none;
    }
    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        overflow: hidden;
        top: 0;
        height: 100%;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #00c5c5;
    }
.slide3 .button3_1{
    margin-top: -20px;
    height:50px ;
    width: 239px;
}
.counter_target{
    width: 200px;
    font-size: 12px;
    margin:10px 0 75px 100px;
}
.slide3_info{
    width: 440px;
    margin-right:50px;
}  
.slide3_info h2{
    margin:57px 0 0 -31px;
}
.slide3_info p:first-of-type{
    margin:9px 0 23px -30px;
}
.slide3 .button3_2{
    margin: 0 0 0 -29px;
    height: 49px;
    width: 221px;
    
}

                /*=== slide4 ===*/
.slide4{
    background-color: #3d4258;
}
.slide4 h2{
    color:#ffffff;
    margin: -16px 0 20px -3px;
}
.slide4 .button{
    width: 222px;
    height: 48px;
    margin-top: 13px;
    padding-top: 13px;
}

.slide4_block,
.slide4_block_info{
    width: 300px;
    max-width: 300px;
    height: 200px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
.slide4_block{
    margin-bottom: 20px;
}
.slide4_block_info{
    margin-top:133px;
    padding:10px 0 0 22px;
}
.slide4_block_info p{
    padding-right:25px;
}

.slide4_block:nth-of-type(2),
.slide4_block:nth-of-type(5){
    background-color: #5b286e;
}
.slide4 img{
    width: 64px;
    position: absolute;
}
.slide4 li:nth-of-type(1) img,
.slide4 li:nth-of-type(4) img{
    left:128px;
}
.slide4 li:nth-of-type(2) img,
.slide4 li:nth-of-type(5) img{
    left:448px;
}
.slide4 li:nth-of-type(3) img,
.slide4 li:nth-of-type(6) img{
    left:768px;
}
.slide4 li:nth-of-type(1) img,
.slide4 li:nth-of-type(2) img,
.slide4 li:nth-of-type(3) img{
    top:93px;
}
.slide4 li:nth-of-type(4) img,
.slide4 li:nth-of-type(5) img,
.slide4 li:nth-of-type(6) img{
    top:313px;
}
.slide4_block:hover>img{
    opacity: 0;
}
.slide4_block:hover>.slide4_block_info{
    margin-top:0px;
    padding-top:20px;
}


.slide4_block:nth-of-type(1) .slide4_block_info,
.slide4_block:nth-of-type(4) .slide4_block_info{
    background-color: #264a76;
}
.slide4_block:nth-of-type(2) .slide4_block_info,
.slide4_block:nth-of-type(5) .slide4_block_info{
    background-color: #37204f;
}
.slide4_block:nth-of-type(3) .slide4_block_info,
.slide4_block:nth-of-type(6) .slide4_block_info{
    background-color: #701640;
}
.slide4_block:nth-of-type(2) h3{
    margin-bottom:35px;
}
.slide4_block:nth-of-type(2):hover h3{
    margin-bottom:20px;
}
.footer{
    background-color: #42475c;
    color:#ffffff;
    height: 60px;
    line-height: 60px;
    position: absolute;
    bottom: 0;
}
.footer_info{
    padding-top: 2px;
}
.footer span:first-of-type{
    float: left;
}
.footer span:last-of-type{
    float: right;
}
.footer a{
    color:#ffffff;
}